atom-text-editor {
	text-rendering: optimizeLegibility;
}

#navBar a {
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
}

#navBar form button.btn-dark {
	background-color: #0e4714;
	border-color: white;
}

#logo {
	height: 5rem;
}

#main .carousel-inner img {
	max-height: 80vh;
	object-fit: contain;
}

@media only screen and (max-width: 800px) {
	#main .carousel-inner img {
		max-height: 80vh;
		object-fit: cover;
	}

}

#carousel {
  position: relative;
}

#main {
	background-color: rgba(3, 2, 11, 0.84)
}

.footer-nav {
	background: linear-gradient(90deg, #062609 0, #0e4714 25%, #1ab228);
	padding: 20px 0px;
}

.footer-nav a {
	color: white;
}

.footer-bottom {
	background: black;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

#footer a {
	color: white;
}

#rowFooter {
	text-align: center;
}

/* Terminos y condiciones */
#terminosycondiciones h1 {
	font-weight: bold;
}

#terminosycondiciones p {
	text-align: justify;
}
